.Ticket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}

.Ticket__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Ticket__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Ticket__price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #2196f3;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  li {
    width: 100%;
    max-width: 141px;
  }
}

.Ticket__bodyHeaders {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #a0b0b9;
}

.Ticket__bodyInfo {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #4a4a4a;
}
